<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>labs</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="js/main.js"></script>
</head>
<body>
    <header>
        <div class="header">
            <span>Lab </span>
            <img src="/img/Animation1.gif" alt="">
            <span>S</span>
        </div>
        <div class="vpnbox">
            <span>Download *.ovpn File to connected to OPenVpne</span>
            <a href="/download/vpnfile" target="_blank">Download</a>
        </div>
    </header>